.profile-container {
  background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(150, 150, 150));
  color: whitesmoke;
  width: 100vw;
  height: 85vh;
  position: relative;
  overflow-x: hidden;
  display: flex;
}

.profile-card {
  background-color: #0e1116;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: fit-content;
  position: absolute;
  top: 30%;
  left: 30%;
  margin: -50px 0 0 -50px;
  padding: 30px 10px;
  border-radius: 10px;
  border: rgb(199, 199, 199) 1px solid;
  transition: all 0.25s ease 0s;
}

.profile-card:hover {
  border: rgb(255, 255, 255) 1px solid;
  filter: drop-shadow(0 0 0.7em #ffe600aa);
}

.profile-left-text {
  background-color: inherit;
  margin: 20px;
}

.my-name {
  background-color: inherit;
  margin: auto;
}

.my-role {
  background-color: inherit;
  margin: auto;
}

.my-bio {
  margin: 10px 0px;
  font-size: 20px;
}

.profile-left {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  order: 1;
}

.profile-right {
  background-color: inherit;
  width: 50%;
  order: 2;
}

.profile-pic {
  border-radius: 20px;
  border:  white 1px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media screen and (max-width: 1000px){
  .profile-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-left {
    width: 40vw;
    order: 2;
  }

  .profile-right {
    order: 1;
  }
}