.profile-container {
  background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(150, 150, 150));
  color: whitesmoke;
  width: 100vw;
  height: 85vh;
  position: relative;
  overflow-x: hidden;
}

.profile-card {
  background-color: #0e1116;
  display: flex;
  width: 50%;
  height: fit-content;
  position: absolute;
  top: 30%;
  left: 30%;
  margin: -50px 0 0 -50px;
  padding: 30px 10px;
  border-radius: 10px;
  border: rgb(199, 199, 199) 1px solid;
  transition: all 0.2s ease 0s;
}

.profile-card:hover {
  scale: 1.015;
  border: rgb(255, 255, 255) 1px solid;
}

.profile-left-text {
  background-color: inherit;
}

h1, h2 {
    background-color: inherit;   
}

h1 {
    margin-bottom: 15px;
}

.profile-left {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25vw;
}

.profile-right {
  background-color: inherit;
  width: 25vw;
}

.profile-pic {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}