.project-card-main {
  background-color: transparent;
  margin: 30px 40px;
  transition: all 0.2s ease 0s;
}

.project-card-main:hover {
  filter: drop-shadow(0 0 0.7em #646cffaa);
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border: 2px grey solid;
  border-radius: 15px;
  height: 400px;
  width: 350px;
  padding: 30px 10px 20px 10px;
  transition: all 0.1s ease 0s;
}

.project-card-main:hover {
  scale: 1.05;
}

.project-card:hover{
    border: rgb(44, 153, 255) 2px solid;
}

.project-image {
  height: fit-content;
}

.project-image img {
  width: 330px;
  height: 170px;
}

.project-image img:hover {
  border: rgb(44, 153, 255) 1px solid;
}

h2 {
  text-align: center;
  margin: 10px 0;
}

p {
  text-align: justify;
  margin: 0 20px;
}

