.project-card-main {
    background-color: black;
    margin: 20px 30px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border: 2px grey solid;
    border-radius: 15px;
    height: 400px;
    width: 350px;
    padding: 20px 10px;
    transition: all 0.1s ease 0s;
}

.project-card:hover{
    border: 3px rgb(44, 153, 255) solid;
}

.project-image {
    height: fit-content;
}

.project-image img {
    width: 330px;
    height: 170px;
}

img:hover {
    border: rgb(44, 153, 255) 1px solid;
}

h2 { 
    text-align: center;
    margin: 10px 0;
}

p {
    text-align: justify;
    margin: 0 20px;
}
