.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  width: 100%;
  font-family: Lato, sans-serif;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  align-items: center;
}

a {
  float: left;
  display: block;
  color: white;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  font-family: Lato, sans serif;
  padding: 5px;
  margin: 15px;
}

.navbarRight {
  float: right;
}

.navbar-logo {
  max-width: 70px;
  max-height: 70px;
  float: left;
  border-radius: 10px;
  margin: 5px;
}